.showArtwork {
    display: grid;
    width: 100%;
    margin-bottom: 35px;
    margin-top: 50px;
}

.showArtwork p {
    margin-top: 35px;
    margin-bottom: 35px;
}


.artworkImages {
    max-height: 400px;
    max-width: 500px;
}

.artwork {
    display: grid;
}

.artworkImageSection {
    text-align: center;
}


